    .imageSize{
        position: absolute;
        color: white;
        left: 20px;
        top: 25px;
    }
    .image {
        width: 100%
    }
    .image img{
        width: 100%;
    }
    .selectors{
        width: 100%;
    }
    .selected-isDefault {
        background-color: #62E4BD;
    }
    .selected-isBanner {
        background-color: #57C1E4;
    }
    .selectors td .selector{
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 2px;
    }
    #map {
        height: 100px;
    }
    #fixedTopMobileOnly {
        /*margin-top: 0;*/
        /*padding-top: 0;*/
        border-bottom: 1px solid #babdbe;
    }
    #title h2{
        margin-bottom: 0px;
    }
    #submitArtMobile {
        background-color: #ffaa42;
        border: 1px solid #212121;
        border-radius: 2px;
        display: block;
        margin: auto;
    }
    #pac-input{
        height: 25px;
    }

    #steps {
        font-size: 12px; 
    }
    #map {
        height: calc(100vh - 235px);
    }
    .form{
        margin-top: 30px;
    }
    .imagePreview {
        margin-bottom: 15px;
    }
    .addPhoto {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    #complete {
        background-color: #ffaa42;
        border: 1px solid #212121;
        border-radius: 2px;
        width: 50%;
        display: block;
        margin: auto;
        position: fixed;
        bottom: 15px;
        right: 0;
        left: 0;
    }
@media only screen and (max-width: 768px) {
    .table span {
        font-size: 10px;
    }
    .table td {
        padding: 5px;
    }
    .selectors td .selector{
        padding: 2px 5px;
    }
}
@media only screen and (max-width: 480px) {
    #fixedTopMobileOnly {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 1;
        background-color: #babdbe;
        border-bottom: 1px solid #ff7600;
    }
    #addContainer {
        padding-top: 45px;
    }
    #title {
        position: relative;
        top: -10px;
    }
    .btn {
        font-size: 12px;
        padding: 3px 10px;
    }
    #steps {
        font-size: 10px; 
    }
    #title:first-child {
        font-size: 13px;
    }
    #complete {
        padding: 7px 16px;
        bottom: 65px;
    }
    .form{
        margin-top: 60px;
    }
}