/* banner */
#editButton {
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
#editButton:hover {
    background-color: white;
}
#pageOneHeader {
    position: relative;
    top: -250px;
}
.saveButton {
    width: 80px;
}
.saveButton:hover svg{
    background-color: #eceff1;
}
.redHeart .st0 {
    stroke:#FF390D;
    stroke-width:0.5;
}
.checkBox .st5 {
    display: block;
    stroke: #57c1e4;
}
.saveButton svg {
    width: 100%;
    border: 1px solid #484848;
    background-color: white;
    padding: 3px;
    border-radius: 4px;

}
.banner {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 270px;
    filter:grayscale(70%);
    border-bottom: 1px solid #212121;
}
.banner2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 85px;
    filter:grayscale(70%);
    border-bottom: 2px solid #212121;
}
.white {
    background-color: #ffffff;
    padding: 5px;
}
.noMargin {
    padding-left: 0px !important;
    margin-left: 0px;
    padding: 5px;
}
/*.detailPage {
    position: relative;
    top: -250px;
}*/
.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
/* photos */
.detailPage .artImg{
    margin-top: 15px;
}

/* Articles */
#alwaysSkip {
    margin-right: 10px;
}
#submitArticle {
    width: 50%;
    background: blue;
}
.detailPage .articles div {
    margin-bottom: 40px;
}
.detailPage .articlePhoto img {
    display: block;
    margin: auto;
}
.detailPage .articleDetail p {
    /*margin:0;*/
}
.detailPage .date_published {
    margin:0;
    color: #babdbe;
    font-size: 12px;
}
.detailPage .title {
    font-weight: 600;
    font-size: 14px:
}
.detailPage .site_name {
    font-weight: 600;
    font-size: 14px;
}
.detailPage .author {
    font-weight: 300;
    font-size: 14px;
}
.detailPage .description {
    font-size: 13px;

}
/* map */
#artDetailMap {
    height: 100%;
    width: 100%;
}
#mapCanvas {
    width: 100%;
    height: 280px;
    border: 1px solid #212121;
    border-radius: 2px;
}
/*navbar */
#detNav {
    position: fixed;
    z-index: 1;
    /*width: 300px;*/
    background-color: white;
    border-bottom: 1px solid #ff7900;
    height: 30px;
    /*padding-top: 0;*/
    padding-right: 0;
    padding-left: 0;
}
#detNav nav {
    padding: 0;
}
#detNav nav ul li {
    height: 30px;
    padding: 0 10px 0 !important;
    line-height: 30px;
    padding: 0;
    font-size: 12px;
    color: #212121;
}
/* images */
.detailPage .artImages img {
    box-shadow: 0 2px 2px rgba(178, 178, 178, 0.6);
}

.artImages div {
    overflow: hidden;
}

/* about*/
.artInfo table {
    border: 1px solid #212121;
}
.artInfo table a {
    color: #0645AD;
}
.artInfo .description {
    margin-top: 60px;
}
.artInfo table td{
    border: none;
    font-size: 12px;
}
.artInfo h1 {
    line-height: 33px;
}
.artInfo {
    padding-left: 0;
    margin-left: 0;
}
.artInfo h2 {
    line-height: 19px;
    font-size: 1.0rem;
}
.artInfo h2 .name{
    padding-right: 7px;
    font-weight: 800;
}
.artInfo h2 .dateCreated {
    font-weight: 200;
}
.artInfo h4{
    font-size: 0.75rem;
    line-height: 15px;
}
.artInfo h5{
    line-height: 15px;
    font-size: 0.75rem;
}
.artInfo .description {
    /*position: relative;*/
    font-weight: 300;
    margin-top: 30px;
}
/* Image Carosel */
.slide {
  position: relative;
}
.slide__caption a {
    text-align: right;
    display: block;
    float:right;
}
.shadow {
  -webkit-box-shadow: 0px 1px 3px #ccc;   Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ 
  -moz-box-shadow:    0px 1px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 1px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.slider-for{
    width: 100%;
    margin: 40px auto 1px;
    overflow: hidden;
}
.slider-for img{
    margin: auto;
 
}
.slider-nav img{
    max-height: 45px;
    max-width: 45px;
    margin:0;
}
.img-responsive { 
    width:100%;
}
.slider-nav {
    width: 100%;
    height: 100%;
    margin: auto;
}
.slider-nav .slick-track{
    height: 85px;
    margin: auto;
}
.slider-for .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 1;
    /*background-color: red;*/
}
.slider-nav .slick-arrow{
    z-index: 1;
    margin-top: -20px;
}
.slick-prev:before {
  color: #484848;
}
.slick-next:before {
  color: #484848;
}

/* https://github.com/kenwheeler/slick/issues/262 see the comment ->rcrisp commented on Jan 24, 2016 */
.slick-no-slide .slick-track {
    width: 100% !important ;
    text-align: center !important;
    transform: inherit !important;
}
.slick-no-slide .slick-slide {
    float: none !important;
    display: inline-block !important;
}
#cloudinary-overlay { background-color: red; }
#cloudinary-widget { background: red; }
/* All modals */
.modal-title {
    margin: 0 auto;
    display: block;
}
.rating-select .br-wrapper{
    padding: 0 20px;
}
.rating-select {
    margin-bottom: 20px;
}
.rating-select h6 {
    /*margin: 0 auto;*/
    /*text-align: center;*/
    margin-bottom: -5px;
}
.rating-select span{
    font-size: 12px;
}
.posiPhrase {
    width: 100px;
    text-align: center;
}
/* Rating Model */
#rate {
    margin: 0 auto;
    display: block;
}
.addCrit {
    font-size: 10px;
    padding: 2px;
    margin-top: 5px;
}
.addPhoto {
    font-size: 10px;
    padding: 0px 2px;
    margin-top: 5px;
    margin-left: 6px;
}

/* Reactions */
.ballot{
    height: 22px;    
    display: flex;
}
.ballot span{
    display: inline-block;
}
.vote:hover{
    cursor: pointer;
}
.ballet li {
  flex: 1;
  text-align: center;
}
.username {
    font-size: 14px;
    font-weight: 800;

}
.replyButton {
    font-size: 12px;
    font-weight: bold;
    color: #484848;
}
.showReply {
    font-size: 12px;
    font-weight: bold;
}
.toggleReply {
    font-size: 12px;
    font-weight: bold;
}
.reactionDetials {
    margin-bottom: 25px;
}
.reactionDetials div{
    padding-bottom: 1px;
    margin-bottom: 1px;
}
.reactions .card {
    box-shadow: none;
}
.reactions img{
    width: 52px;
    height: 52px;
}

.overall {
    width: 100%;
}
/*.add-rating {
    position: absolute;
}*/

.borderless {
  border: 0 none;
}
.rating_title {
    font-size: 12px;
}
.rating_value {
    font-size: 13px;
}
.all_rating_attr {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}
.all_rating_attr li  {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}
.rating-border {
    /*border-right: 1px solid grey;*/
}
.all_rating_attr li ul {
}
.all_rating_attr li ul li{
    padding: 0;
}
.ratings_div {
    /*border-bottom: 1px solid black;*/
    padding-bottom: 20px;
}
.one-line textarea {
    height: 50px;
}
.one-line input {
    display: none;
}
.pointer-hover:hover{
    cursor: pointer;
}
.complete {
    display: none;
}
.reaction{
    /*border: 1px solid black;*/
}


.glyphicon {
    color: black;
}
.add-comment {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
}

.reactions h5 {
    text-align: center;
}

.overall h6 {
    display:table-cell;
    position:absolute;
    top: 85px;
    line-height: 20px;
    width:100%;
    text-align: center;
    left: 0;
    font-size: 18px;
}
.overall svg {
    width: 100px;
    display: block;
    margin: auto;
}

/* Rating Div */
.rating-body {
    display: block;
    margin: auto;
}
.br-theme-bars-1to10 .br-widget a {
    width: 20px;
    background-color: #57c1e4;
}

.br-theme-bars-1to10 .br-widget a.br-selected {
    background-color: #0091b2;
}.br-theme-bars-1to10 .br-widget a.br-current {
    background-color: #0091b2;
}
.br-current-rating {
    color: #0091b2 !important;

}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
/*    .image_div img {
        width: 250px;
        height: 250px;
    }*/

}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
        .slider{
        /*background-color: blue;*/
    }
/*    .image_div img {
        width: 250px;
        height: 250px;
    }
*/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .slider{
    }
/*    .image_div img {
        width: 250px;
        height: 250px;
    }*/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
/*    .image_div img {
        width: 540px;
        height: 540px;
    }*/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
/*    .image_div img {
        width: 465px;
        height: 465px;
    }*/
}
