.fixedNav {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.relativeNav {
    position: relative;
    top: 0;
}
#wrapper {
    position: relative;
    height: 50%;
}
#over_map {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99;
}
#map {
    height: 100%;
}

/*.image_div img{
    width: 250px;
    height: 250px;
}*/
.infinite-item {
    padding-bottom: 15px;
    padding-top: 15px;
}
.art_title {
    background-color: blue;
    pointer-events: none;
}
.image_div div{
    /*height: 400px;*/
}

.image_div img{
    display:block;
    margin:auto;
    width: 100%;
}
.hidden {
    display: none;
}
.image_div h3 {
    position: absolute;
    top: 8px;
    left: 16px;
    text-transform: uppercase;
    /*transform: translate(-50%, -50%);*/

}
.image_div div:hover {
        background: url("images/card-front.jpg") no-repeat;
    }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
/*    .image_div img {
        width: 250px;
        height: 250px;
    }*/

}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
/*    .image_div img {
        width: 250px;
        height: 250px;
    }
*/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
/*    .image_div img {
        width: 250px;
        height: 250px;
    }*/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
/*    .image_div img {
        width: 540px;
        height: 540px;
    }*/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
/*    .image_div img {
        width: 465px;
        height: 465px;
    }*/
}