
/*#div_id_waypoint-lat {
    position: absolute;
    display: none;   
}

#div_id_waypoint-lng {
    position: absolute;
    display: none;   
}

#div_id_waypoint-address_id {
    position: absolute;
    display: none;   
}

#id_waypoint-address_id {
    position: absolute;
    display: none;   
}*/