.navbarPigeon {
    margin-right: 20px;
}

.navbarPigeon:hover rect {
    fill: #ff7600 !important;
}
.navbarPigeon path {
    fill: #484848 !important;
}
.navbarPigeon:hover path {
    fill: #212121 !important;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
  }
#mainNav {
    z-index: 10;
}
#ui-id-1 {
    position: fixed;
}
#search {
    width: 300px;
}
.close {
    position: absolute;
    right: 10px;
    top: 5px;
}

.modalBtn{
    margin: 0 auto;
    display: block;
}
.subModal {
    text-align: center;
    font-size: 12px;
}
.subModal:hover {
    cursor:pointer;
    color: #484848;
}
.navbarIndex {
    border-bottom: 1px solid #FF7900;;
    background-color: #ffffff;
    /*height: 40px;*/
    padding-top: 0;
    padding-bottom: 0;
    z-index: 1;
    /*border-bottom: */
}
#addArtButton {
    margin-top: 5px;
    /*padding-bottom: -5px;*/
}
#searchButton {
    transition: all .2s;
    transform-origin: 50% 50%;
    margin-left: -30px;
}
#searchButton:hover {
    transform: scale(1.1);
    fill: #484848;
}
#logo{
    margin-top: -10px;
    margin-bottom: -10px;
}
.shadow {
  -webkit-box-shadow: 0px 1px 3px #ccc;   Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ 
  -moz-box-shadow:    0px 1px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 1px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.navbar-nav {
    display: block;
    /*height: 40px;*/
}
.nav-item {
    float: right;
    margin-left: 10px;
}
.divider {
    height: 45px;
    border-right: 1px solid #FF7900;
    border-left: none;
    border-top: none;
    border-bottom: none;
}
.dropdown-toggle::after {
    display:none
}

/* mobile nav */
#mobileNav {
    z-index: 10;
    position: fixed;
    border-bottom: 0;
    height: 60px;
    background-color: #ff7600;
    width: 100%;
    bottom: 0;
    padding: 0;
    visibility:hidden;
}
.mobileNavLabel {
    color: white;
}
.selectedMobileItem .mobileNavLabel {
    color: #484848;
}
#mobileNav li {
    display:inline-block;
    width: 20%;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
}
.selectedSvg{
    stroke: #484848 !important;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

#features {
    padding-top: 0 !important;
}
.container-fluid {
    visibility: none;
}
#detNav {
    visibility: visible;
}
#mobileNav {
    visibility: visible;
}
.ui-autocomplete {
    max-height: calc(100% - 80px);
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    border:1px solid #222;
    width: 200px;
    position:absolute;
  }
#search {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 3px solid #ff7600;
}
.form-inline {
    width: 100% !important;
}
#mainNav {
    display: none;
    border-bottom: none;
}
#mainNav ul {
    display: none;
}
#mobileNav {
}
#wrapper {
    top: 0px;
    margin: 0;
    border: none;
    height: calc(100% - 50px)
}
#searchButton {
    float: right;
    position: absolute;
    top: 5px;
    right: 5px;

}
.navbar-brand {
    display: none;
}
.form-inline{
    width: 100px;
}
}